<section id="location-section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="great-vibes-regular" style="font-size: 50px;">Location</h2>
                <p>Our wedding will be held at:</p>
                <p>123 Wedding Venue, City, Country</p>
                <div id="map" style="height: 400px; width: 100%;"></div>
            </div>
        </div>  
    </div>
</section>