<section id="wedding-time-section">
    <div class="container mt-5 text-center">
        <h2 class="great-vibes-regular" style="font-size: 50px;">Wedding Time</h2>
        <p>Our wedding will begin on:</p>
        <p><strong>Saturday, 25th December 2024 at 10:00 AM</strong></p>
        <div id="countdown" style="font-size: 30px;"></div>
    </div>
</section>