body {
  background-image: url("images/couple-weding.jpg");
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: bold;
}

.font-50 {
  font-size: 50px;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.margin-top-52 {
  margin-top: 52px;
}

.absolut {
  position: absolut;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.slide-up {
  animation: slideUp 0.5s ease-in-out forwards;
}

@media (max-width: 768px) {
  .flower-1 {
    height: 30%;
  }
}
@media (min-width: 768px) {
  .flower-1 {
    height: 60%;
  }
}
