@component('layout/app')
    @slot('main')
        <div class="flex justify-content-center">
            <div class="row">
                {{-- <img src="https://unsplash.com/photos/man-kissing-womans-forehead-LMcvt8Rew4c" alt="couple wedding" width="500" height="600"> --}}
                <h2>Chandra & Kiw Kiw</h2>
            </div>
        </div>    
    @end
@endcomponent