<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || "Undangan Pernikahan" }}</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>

  <div class="welcome relative" id="openContainer">
    {{{ await $slots.welcome() }}}
  </div>

  <div id="halo" style="display: none;">
    {{{ await $slots.main() }}}
    {{{ await $slots.location() }}}
    {{{ await $slots.gallery() }}}
    {{{ await $slots.weddingTime() }}}
    {{{ await $slots.chatForm() }}}
  </div>


  <script src="/js/main.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>

</body>
</html>
